@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900|Merriweather:400,700,700i');


body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#logoInHeader {
  margin-right: 20px;
}
.primaryPhantomBtn {
    width: 128px;
    height: 40px;
    border-radius: 5px;
    border: solid 3px #584aec;
    background-color: #ffffff;
    font-family: Lato;
    font-size: 14.4px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.11;
    letter-spacing: 1.8px;
    text-align: center;
    color: #5348f4;
    text-transform: uppercase;
}

.primaryPhantomBtn:s {
  width: 128px;
  height: 40px;
  border-radius: 5px;
  border: solid 3px #584aec;
  background-color: #ffffff;
  font-family: Lato;
  font-size: 14.4px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.11;
  letter-spacing: 1.8px;
  text-align: center;
  color: #5348f4;
  text-transform: uppercase;
}
#signUpCTA {
  margin-left: auto;
}
.header{
  display:flex;
  align-items:center;
  justify-content:center;
  background-color:'red';
  margin-left: 3.33vw;
  margin-right: 3.33vw;
  margin-top:20px;
  margin-bottom: 20px;
}


.navItem {
  width: 67px;
  height: 16px;
  font-family: Lato;
  font-size: 14.42px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: 1.3px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  margin-left:20px;
  margin-right:20px;
  text-decoration: none;
}

.navItem:hover{
    color: #584aec;
  }









  :root {
    --maincolor-secondary:#584aec;
}